<h1> Memorize EVERYTHING </h1>

<p>I always wanted a game to teach me a set of foreign words I'm interested in.</p>

<p>So... I made one.</p>

<p>After you play it long enough you will know all the characters in <b>小苹果</b>.  Eventually I want to add many more songs in many languages but for now I've started with Chinese</p>

<p><a href="/game_page/"><b>Here's a link to the game</b></a></p>

<p>Here's the original <b>小苹果</b> music video on YouTube so you can hear the words in action.</p>

<iframe width="420" height="345"
src="https://www.youtube.com/embed/uDyo6IAnbVY?autoplay=0?controls=2">
</iframe>

<p>Since the subtitles in the original are hard to read, here's another with clearer text.</p>

<iframe width="420" height="345"
src="https://www.youtube.com/embed/odtp3xYmgUk?autoplay=0?controls=2">
</iframe>

<p>The game will adapt to what you know.  If you do well on the characters, it will unlock more.</p>

<p>You also collect mp's which you will be able to redeem at the store (store to follow)</p>

<p>Hope you enjoy!</p>

<p>Mem-co creator</p>

