<h2>Welcome!</h2>

<p>This site is dedicated to combining two awesome things:  real games and practical knowledge.  As a demo, you can play <a href="/game_page/"><b>High-Low</b></a></p>

<p>Eventually, you will know all the characters in <b>小苹果</b>.  Check out your progress by checking what characters you've <a href="/attempts">unlocked</a>.  Go straight to the <a href="/game_page/"><b>game</b></a> or keep reading for instructions.</p>

<p>For more information on what's new, check our <a href="/updates">update page</a>.</p>

<p><b>Game Directions</b>
<br>
Choose if you think the next card will be higher or lower.  Getting the right answer to the question below will boost your score
</p>

<p>Here's the original <b>小苹果</b> music video on YouTube so you can hear the words in action.  Another video with easier to read subtitles is below</p>

<p>Hope you enjoy!</p>

<p>creator</p>

<iframe width="420" height="345"
src="https://www.youtube.com/embed/uDyo6IAnbVY?autoplay=0?controls=2">
</iframe>

<iframe width="420" height="345"
src="https://www.youtube.com/embed/odtp3xYmgUk?autoplay=0?controls=2">
</iframe>


