<h1> Memorize EVERYTHING </h1>

<p>I always wanted a game to teach me a set of foreign words I'm interested in.</p>

<p>So... I made one.</p>

<p>After you play it long enough you will know all the characters in 小苹果.  Eventually I want to add many more songs in many languages but for now I've started with Chinese</p>

<p><a href="/game_page/">Here's a link to the game</a></p>

<p>Here's a link to the <a href="https://www.youtube.com/watch?v=uDyo6IAnbVY">original video</a> on YouTube.</p>

<p>Since the subtitles in the origianl are hard to read, here's <a href="https://www.youtube.com/watch?v=odtp3xYmgUk">another</a>, only audio, with legible characters and English translations.</p>

<p>The game will adapt to what you know.  If you do well on the characters, it will unlock more.</p>

<p>You also collect mp's which you will be able to redeem at the store (store to follow)</p>

<p>Hope you enjoy!</p>

<p>Mem-co creator</p>

