<h2>Welcome!</h2>

<p>Play the <a href="/game_page/"><b>beta demo version</b></a>!!! Or navigate using the menu bar.  <br>Noobs should first read the directions below.</p>

<h3>Introduction</h3>

<p>
This is a beta for a puzzle game similar to Candy Crush or Bejeweled but instead of pay-to-play for in-game features, you can use your knowledge (currently Chinese, but other languages and categories like math are planned) as payment.  Currently you can only unlock seven characters.  Additional features such as graphics and sound, more weapon types, different enemies, and a leveling/game progression to increase your damage not yet included. </p>

<p><b>Game Directions</b>
<br>
<p>
<ul>
  <li>Connect colors to defeat the monster</li>
  <li>Sets of 5 or more spawn a bomb in gray</li>
  <li>Activate the bomb by clicking it, but you gotta be smart!</li>
  <li>Blow up the bomb by clicking on it</li>
  <li>Don't run out of time!</li>
  <li>Defeat as many monsters as you can</li>
</ul>
</p>

<p><b>Helpful Hints</b>
<ul>
  <li>Getting questions right gives you more time.  Don't worry about being fast starting out</li>
  <li>The more you get right, the more knowledge you get and the stronger you become (seven characters currently available)</li>
  <li>Strokes are important in Chinese!  Make sure to draw each one separately</li>
  <li>If you don't know something, relax.  All the answers are at the bottom of the game</li>
  <li>Refresh the page to start over again</li>
  <li>After playing, check your <a href="/attempts/"><b>stats</b></a> using the dropdown navigation menu</li>
</ul>
</p>

<p>Good luck and enjoy.</p>
