<h2>Welcome!</h2>

<p>Play the <a href="/game_page/"><b>beta demo version</b></a>!!!</p>

<p><b>Game Directions</b>
<br>
<p>
Connect colors to defeat the monster.  Sets of 5 or more spawn a bomb in gray.  Activate the bomb by clicking it and demonstrating the knowledge you need to attain that power.  Blow up the bomb by clicking on it to do additional damage.
</p>

<p>After playing, check your <a href="/attempts/"><b>stats</b></a></p></p>

<p>Good luck and enjoy</p>
