<h2>Welcome!</h2>

<p>Play the <a href="/game_page/"><b>beta demo version</b></a>!!! Noobs should first read the directions below.</p>

<p><b>Game Directions</b>
<br>
<p>
<ul>
  <li>Connect colors to defeat the monster</li>
  <li>Sets of 5 or more spawn a bomb in gray</li>
  <li>Activate the bomb by clicking it, but you gotta be smart!</li>
  <li>Blow up the bomb by clicking on it</li>
  <li>Don't run out of time!</li>
  <li>Win by reducing Monster's HP to 0</li>
</ul>
</p>

<p><b>Helpful Hints</b>
<ul>
  <li>Getting questions right gives you more time.  Don't worry about being fast starting out (will be implemented by 11/20)</li>
  <li>The more you get right, the more knowledge you get and the stronger you become</li>
  <li>Strokes are important in Chinese!  Make sure to draw each one separately</li>
  <li>If you don't know something, relax.  All the answers are at the bottom of the game</li>
  <li>Refresh the page to start over again</li>
  <li>After playing, check your <a href="/attempts/"><b>stats</b></a></li>
</ul>
</p>

<p>Good luck and enjoy.</p>
