<h2>Welcome!</h2>

<p>This site is dedicated to combining two awesome things:  real games and practical knowledge.  To start with, since nothing (codewise) is easier than gambling, as a demo, you can play <a href="/game_page/"><b>High-Low</b></a>, a betting game that ties your performance to your knowledge of a Chinese song, <b>小苹果</b> (YouTube of song link below).  You will amass points and learn Chinese along the way.</p>

<p>As time permits, expect to find new and awesome gametypes for your enjoyment along with new words and languages to unlock and choose from.</p>

<p>Eventually, you will know all the characters in <b>小苹果</b>.  Check out your progress by checking what characters you've <a href="/attempts">unlocked</a>.  Go straight to the <a href="/game_page/"><b>game</b></a> or keep reading for instructions.</p>

<p>For more information on what's new, check our <a href="/updates">update page</a>.</p>

<p>Here's a brief video for how to play the game</p>

<iframe width="420" height="345"
src="https://www.youtube.com/embed/Jy5omez9eIE?autoplay=0?controls=2">
</iframe>

<p>Here's the original <b>小苹果</b> music video on YouTube so you can hear the words in action.</p>

<iframe width="420" height="345"
src="https://www.youtube.com/embed/uDyo6IAnbVY?autoplay=0?controls=2">
</iframe>

<p>Since the subtitles in the original are hard to read, here's another with clearer text.</p>

<iframe width="420" height="345"
src="https://www.youtube.com/embed/odtp3xYmgUk?autoplay=0?controls=2">
</iframe>

<p>Hope you enjoy!</p>

<p>creator</p>

