<h2>Welcome!</h2>

<p>Demo game, linked to database <a href="/game_page/"><b>High-Low</b></a></p>

<p><b>Game Directions</b>
<br>
Choose if you think the next card will be higher or lower.  Getting the right answer to the question below will boost your score
</p>

<p>Will link better games to database as time allows</p>
