<h6>9/26/2015<h6>
<p>New addition!
  <ul>
      <li>Card graphics added.</li>
      <li>Resized game text for better visibility</li>
      <li>Added helper.  If a player selects a wrong answer, the correct answer will highlight itself in green</li>
      <li>Added update page</li>
      <li>Added logo art</li>
      <li>Reworked navigation menu</li>
  </ul>

  Next release, look forward to audio mixed into the gameplay.  Additionally, upcoming features to look forward to <br> <br>
    <ul>
      <li>Character count per game will increase from current limit of 5</li>
      <li>Audio buttoms will included</li>
      <li>Support added for multiple songs</li>
      <li>Support added for multiple languages</li>
      <li>A use for the points you mass (possibly in future game types)</li>
      <li>Player names and leaderboards</li>
    </ul>

  However, the most exciting news is that I've finally begun developing the next game!  As development continues, I will release more information on the features it will include.
  </p>
